@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 10, 25, 47;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, rgb(var(--background-rgb)), rgb(15,23,42));
}
